<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--是否打印日志-->
    <add key="nightdistance" value="8000"/>
    <add key="nightbegin" value="0"/>
    <add key="nightend" value="6"/>
    <add key="showlog" value="1"/>
    <add key="getherradius" value="100"/>
    <add key="cuttimescan" value="4000"/>
    <add key="updateaddress_num" value="10"/>
    <add key="overdate" value="7"/>
    <add key="connectionstring" value="server=120.77.61.229;user id=sckr; password=kerui254@2016.kr; port=57004; database=police; pooling=true; charset=utf8;Allow Zero Datetime=true"/>
    <add key="connectionstringfortest" value="server=120.77.61.229;user id=sckr; password=kerui254@2016.kr; port=57004; database=police; pooling=true; charset=utf8;Allow Zero Datetime=true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WaterAjaxServiceBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Water.Wcf.AjaxWcf">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding"
          bindingConfiguration="WaterAjaxServiceBinding" name="WaterAjaxService"
          contract="Water.Wcf.AjaxWcf" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Water.Wcf.AjaxWcfAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
